{% extends "base.html" %} 
{% block content %}

<div class="col-md-6 offset-md-3">
    <h1 class="text-center">Send Us a Message</h1>
    <p>Please complete all fields</p>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="firstname">Enter First Name</label>
            <input type="text" class="form-control" name="firstname">
        </div>

        <div class="form-group">
            <label for="lastname">Enter Last Name</label>
            <input type="text" class="form-control" name="lastname">
        </div>

        <div class="form-group">
            <label for="email">Enter Email Address</label>

            <input type="text" class="form-control"  name="email">
        </div>
        

        <div class="form-group">
            <label for="comment">Message</label>
            <textarea class="form-control" rows="5" name="comment"></textarea>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>


    </form>
</div>

{% endblock %}