{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    
    <h1><a href="https://polar-retreat-22992.herokuapp.com/">Auto Grading Computer System for Knowedge Estimation</a></h1>
    <br>
    
         <ul >

         	<li>login to test --   user:user1   password:test0004</li>

            

            <li>Students can login and teachers can add questions,see student progress reports,overall class knowledge estimate etc</li>

            <li><img src="{% static 'quizapp1.png'%}"></li>

            <br>
            <br>
            <li><mark>Immediate feedback  and explanations for students</mark></li>

            <li><img src="{% static 'quizapp.png'%}"></li>

             <li><img src="{% static 'quizapp4.png'%}"></li>

              <li><img src="{% static 'quizapp3.png'%}"></li>

            <li>Currently testing in Alakolawewa School.<mark>If your school wants offline version of it send me email  : dilshanwije@gmail.com   to set up </mark></li>
            

          </ul>


          <br>
          <br>
          <br>
          <br>



	<h1>Proposed research :Finding methods to improve English in primary school students in Alakolawewa School-Walapane education zone
</h1>
<p>

     <br>

1. Research hypothesis: Computer assisted reading in englsih imporove test scores 

<br>

2. Null hypothesis: There's no difference in test scores between the group who read with computers and the group with normal reading with a teacher

<br>
3. Methodology:
<br>
Sampling procedure : Assign grade 4 and grade 3 students to two groups randomly and give one group of students instruction in englsih with assiatance of computer software with functions of immediate  text to speech and translation  of english to sinhala
<br>
Procedure: Give Instructions to read the same lessons in grade 3 and grade 4 text books to experimental group having assisted computers and no teacher and control group with teacher assistance only 
<br>
Duration : 15 School Days
<br>

Administer a standardized reading test to all students. Match
students in computer assisted reading classes with students in regular teacher class. 
<br>
Measurements:Total correctly spoken words percentage,time to finish the test and total correctly translated words percenatge .Calculate the mean of two groups after giving post test for above 3 diffent measurments.
<br>
Data Analysis:Test the null hypothesis by using a statistical test to determine if the difference in the means could easily be a function of chance alone.


<br>

Further Research:
<br>
Test  the hypotheis whether both teacher and computer assisted reading would yield better results than reading with teacher and reading with computer by dividing students into 3 groups.</p>
<br>

</p>
         <ul >
             <p>Software</p>
            <li>Chrome google translater </li>

            <li><img src="{% static 'english1.png'%}"></li>

            
            

          </ul>


          <br>
          <br>
          <br>
          <br>

    <h1>Dyslexia</h1>
        <br>
         <ul >
            <li>Identify and Treat dyslexic students</li>
            <li>Systematic use of visualized problem-solving algorithms and verbal
self-instructions</li>
            <li>affects 20% students and  male children 4 times more than female children</li>
            <li>Start at Alakolawewa School in 2nd Term 2019</li>
          </ul>

          <br>
          <br>
          <br>
          <br>

          <h1>Mathematics-Grade 4 Aseessment Term Test -Term 1-,2019-Review</h1>
          <br>
         <ul >
            <li>Concept :Measurement</li>
            <li> Only <mark>12.5% </mark>students proficient in unit conversion in length</li>
            <li>some students dont know 1m = 100cm but can write 750cm = 7m50cm correctly.(Rote memorization without understanding)-Computer assisted reteach with combination of multiplication concept with emphasis on conceputual understanding in next term</li>
            <br>
            <br>
            <li>Concept:Fractions of Collection</li>
            <li>Only 22% students proficient in unit conversion in length </li>
            <li>problem:1/4 of 20, Answers : 200 (complete misunderstanding of fraction concept--as 200>>>>>20),Answer : quarter (doesnt understanding asking is amount not a fraction)</li>
            <li>Drilling before concept understanding might be the cause-in next term teachconcepts with more practical applications would be overcome this  </li>


          </ul>

{% endblock %}